<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <title>html : pdf</title>
  <style>
    * {
      margin: 0;
      padding: 0;
    }

    body{
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: chartreuse;
      font-family: 'Roboto Slab', serif;
    }

    header {
      background: cadetblue;
      width: 100%;
      height: 40px;
      color:cadetblue;
      margin: 10px 10px;
      padding: 20px;
      border: #d0d0d0 3px solid;
      text-align: center;
      font-family: 'Roboto Slab', serif;

    }
    main {
      background-color: burlywood;
    }
  </style>
</head>

<body>
  <header>
    <h2>Meu evento</h2>
  </header>

  <main>    

    <p>nome: <%= nome %>
    </p>

    <p>email: <%= email %>
    </p>

    <p>CPF: <%= cpf %>
    </p>

    <p>telefone: <%= telefone %>
    </p>

    <p>carater do evento: <%= tipoDeEvento %>
    </p>

    <p>local: <%= local %>
    </p>

    <p>Endereço: <%= endereco %>
    </p>

    


  </main>

  <footer></footer>
</body>

</html>