<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header></header>

    <main>

        <h1>Meu evento</h1>
        <hr>

        <h1>nome: <%= nome %></h1>        

        <h1>email: <%= email %></h1>

        <h1>data de nascimento: <%= age %></h1>

        <h1>telefone: <%= telefone %></h1>
        
        <h1>gênero: <%= sexo %></h1>


    </main>

    <footer></footer>
</body>
</html>